@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --bg-color: rgb(248, 250, 255);
  --bg-color-rgb: 248, 250, 255;

  --primary-color: rgb(255, 255, 255);
  --primary-color-rgb: 255, 255, 255;
  --secondary-color: rgb(153, 156, 160);
  --secondary-color-rgb: 153, 156, 160;
  --accent-color: rgb(96, 91, 255);
  --accent-color-rgb: 96, 91, 255;

  --text-primary-color: rgb(0, 0, 0);
  --text-primary-color-rgb: 0, 0, 0;
  --text-secondary-color: rgb(154, 154, 169);
  --text-secondary-color-rgb: 154, 154, 169;
  --text-light-grey: rgb(153, 156, 160);
  --text-light-grey-rgb: 153, 156, 160;
  --text-alert-color: rgb(211, 48, 48);
  --text-alert-color-rgb: 211, 48, 48;

  --link-color: rgb(52, 107, 212);
  --link-color-rgb: 52, 107, 212;

  --box-shadow: 10px 10px 10px 10px rgba(171, 15, 15, 0.1);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
